{% extends 'layout.html.twig' %}

{% block title %}
	{{ noteModel.xmlModel.supplierName }}
{% endblock %}

{% block content %}
	<div class="container py-3">
		<form method="post">
			<div class="text-center">
				<h4>{{ noteModel.xmlModel.supplierName }}</h4>
				<table class="table table-borderless mx-auto w-auto text-nowrap">
					<tr>
						<th>Data:</th>
						<td>{{ noteModel.xmlModel.issueDate|date('Y-m-d') }}</td>
						<td>|</td>
						<th>Total:</th>
						<td>{{ noteModel.xmlModel.payableAmount ~ ' lei' }}</td>
						<td>|</td>
						<th>NIR:</th>
						<td>
							<input type="number" min="0" class="form-control form-control-sm text-end" name="einvoice[noteNumber]" value="{{ noteModel.einvoice.noteNumber }}" required>
						</td>
					</tr>
				</table>
			</div>
			<table class="table table-sm table-bordered mt-3 align-middle">
				<tr>
					<th class="text-center">#</th>
					<th>Publicație</th>
					<th></th>
					<th class="text-center">Preț<br>unitar</th>
					<th class="text-center">Preț de<br>vânzare</th>
					<th class="text-center">Sugestie<br>oficială</th>
					<th class="text-center">Sugestie<br>neoficială</th>
				</tr>
				{% for itemModel in noteModel.itemModels %}
					{% set inputClass = 'form-control rounded-0 ' ~ (itemModel.sellPrice ? 'text-secondary' : 'border-dark') %}
					<tr>
						<td class="text-secondary text-center p-0" style="width: 30px;">
							{{ itemModel.xmlModel.id }}
						</td>
						<td class="p-0">
							<input type="text" name="item[{{ itemModel.xmlModel.id }}][nameMatch]" class="{{ inputClass }}" value="{{ itemModel.nameMatch }}" required>
						</td>
						<td class="text-secondary small lh-1">
							<div>{{ itemModel.xmlModel.name }}</div>
							<div>{{ itemModel.xmlModel.description }}</div>
							<div>{{ itemModel.note }}</div>
						</td>
						<td class="p-1" style="width: 100px;">
							<button class="btn btn-warning btn-sm text-center w-100" onclick="jQuery(this).parents('tr').find('input[type=number]').val({{ itemModel.xmlModel.priceAmount|number_format(4, '.', '')}}); return false;">
								{{ itemModel.xmlModel.priceAmount|number_format(4) }}
							</button>
						</td>
						<td class="p-0" style="width: 110px;">
							<input type="number" min="0" step="0.01" name="item[{{ itemModel.xmlModel.id }}][sellPrice]" class="{{ inputClass }} text-end" value="{{ itemModel.sellPrice }}" required>
						</td>
						{% for s in itemModel.sellPriceSuggestions %}
							<td class="p-1" style="width: 100px;">
								{% if s %}
									<button class="btn btn-success btn-sm text-center w-100" onclick="jQuery(this).parents('tr').find('input[type=number]').val({{s|number_format(4, '.', '')}}); return false;">
										{{ s|number_format(4) }}
									</button>
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<a href="{{ (app.request.query.get('redirect') ?: path('app_einvoice_index'))|raw }}" class="btn btn-light w-25">
				<i class="bi bi-chevron-left"></i>
				Înapoi
			</a>
			<button type="submit" class="btn btn-dark w-25 float-end">
				<i class="bi bi-printer"></i>
				Imprimă
			</button>
		</form>
	</div>
{% endblock %}
