{% extends 'layout.html.twig' %}

{% block title %}
	{{ simpleXml.AccountingSupplierParty.Party.PartyLegalEntity.RegistrationName }}
{% endblock %}

{% block content %}
	<div class="container py-3">
		<div class="text-center">
			<h4>{{ simpleXml.AccountingSupplierParty.Party.PartyLegalEntity.RegistrationName }}</h4>
			{{ simpleXml.IssueDate }}
			|
			{{ simpleXml.LegalMonetaryTotal.PayableAmount ~ ' lei' }}
			| NIR:
			{{ einvoice.noteNumber }}
		</div>
		<form method="post">
			<table class="table table-sm table-bordered mt-3 align-middle">
				<tr>
					<th class="text-center">#</th>
					<th>Publicație</th>
					<th></th>
					<th class="text-center">Preț<br>unitar</th>
					<th class="text-center">Preț de<br>vânzare</th>
					<th class="text-center">Sugestie<br>oficială</th>
					<th class="text-center">Sugestie<br>neoficială</th>
				</tr>
				{% for InvoiceLine in simpleXml.InvoiceLine is defined ? simpleXml.InvoiceLine : [] %}
					{% set line = lines[InvoiceLine.ID|escape] %}
					<tr>
						<td class="text-secondary text-center p-0" style="width: 30px;">
							{{ InvoiceLine.ID }}
						</td>
						<td class="p-0">
							<input type="text" min="{{ InvoiceLine.Price.PriceAmount }}" step="0.0001" name="line[{{ InvoiceLine.ID }}][nameMatch]" class="form-control rounded-0 {{ line.sellPrice ? 'text-secondary' : 'border-dark' }}" value="{{ line.nameMatch }}" required>
						</td>
						<td class="text-secondary small lh-1">
							<div>
								{{ InvoiceLine.Item.Name }}
							</div>
							{% if InvoiceLine.Item.Description is defined %}
								<div>
									{{ InvoiceLine.Item.Description }}
								</div>
							{% endif %}
							{% if (InvoiceLine.Note is defined) and not (InvoiceLine.Note|split(InvoiceLine.Item.Name)|length - 1) and not (InvoiceLine.Note|split('cod intern SmartBill:')|length - 1) %}
								<div>
									{{ InvoiceLine.Note }}
								</div>
							{% endif %}
						</td>
						<td class="p-1" style="width: 100px;">
							<button class="btn btn-warning btn-sm text-center w-100" onclick="jQuery(this).parents('tr').find('input[type=number]').val({{InvoiceLine.Price.PriceAmount|number_format(4, '.', '')}}); return false;">
								{{ InvoiceLine.Price.PriceAmount|number_format(4) }}
							</button>
						</td>
						<td class="p-0" style="width: 110px;">
							<input type="number" min="{{ InvoiceLine.Price.PriceAmount|number_format(4, '.', '') }}" step="0.0001" name="line[{{ InvoiceLine.ID }}][sellPrice]" class="form-control rounded-0 text-end {{ line.sellPrice ? 'text-secondary' : 'border-dark' }}" value="{{ line.sellPrice }}" required>
						</td>
						{% for s in line.sellPriceSuggestions %}
							<td class="p-1" style="width: 100px;">
								{% if s %}
									<button class="btn btn-success btn-sm text-center w-100" onclick="jQuery(this).parents('tr').find('input[type=number]').val({{s|number_format(4, '.', '')}}); return false;">
										{{ s|number_format(4) }}
									</button>
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<a href="{{ (app.request.query.get('redirect') ?: path('app_einvoice_index'))|raw }}" class="btn btn-light w-25">
				<i class="bi bi-chevron-left"></i>
				Înapoi
			</a>
			<button type="submit" class="btn btn-dark w-25 float-end">
				<i class="bi bi-printer"></i>
				Imprimă
			</button>
		</form>
	</div>
{% endblock %}
